<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9gqqRut6fWd9oYhTmiGxwIHnfAoOqgyg</string>
	<key>GCM_SENDER_ID</key>
	<string>879132769592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thelazyproject.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-d7e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-d7e2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879132769592:ios:613e2bf4ca4830e82715cd</string>
</dict>
</plist>